src/
tsconfig.json
vitest.config.ts
.DS_Store
.idea/
.vscode/
*.swp
*.tsbuildinfo
Thumbs.db
node_modules/
*.tgz
pnpm-lock.yaml
npm-debug.log*
yarn-error.log*
coverage/
.git/
.gitignore
.github/
.npmrc
publish.sh
PLAN.md
blog.md
2502.02004v1.md
